html, body {
  height: 100%;
  min-height: 100%;
  font-family: Consolas,Monaco,'Andale Mono',monospace;
}
#error {
  clear: both;
  color: rgb(252, 3, 3);
  float: none;
  position: fixed;
  padding: 1em;
  margin-top: 0.5em;
  background-color: rgb(255, 247, 213);
  right: 49%;
  width: 18%;
  clear: both;
}
.hidden {
  display: none;
}
textarea {
  height: 100%;
  width: 49%;
  float: left;
  padding: 1em;
  box-sizing: border-box;
  border: 0 none;
}
textarea:focus, textarea:active {
  border: 0 none;
  outline: 0;
}
#to {
  float: right;
  background: #eee url(images/myth-white.svg) 95% 10px no-repeat;
}
